@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Manrope:wght@200;800&display=swap');

body {
    /*font-family: "Georgia", sans-serif;*/
    background-color: #f0f2f5;
    margin: 0;
    padding: 20px;
}

.heading {
    text-align: center;
    margin-bottom: 20px;
}

.card-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 250px;
    height: 250px;
    background-color: #ffffff;
    border-radius: 12px;
    padding: 10px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease, width 0.2s ease, height 0.2s ease;
    overflow: hidden;
}

.card.expanded {
    /*height: auto;*/
    /*width: 80%;*/
    /*position: fixed;*/
    height: 80vh; /* Adjust the height for full expansion */
    width: 80%; /* Expand the width smoothly */
    position: fixed;
    top: 15%; /* Adjust the top position */
    left: 10%; /* Adjust the left position */
    z-index: 10; /* Ensure the card appears on top */
    transition: transform 0.3s ease, width 0.2s ease, height 0.2s ease;
}

.card.hidden {
    display: none;
}


.card:hover {
    transform: translateY(-10px);
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.25);
}

.time {
    font-size: 2.3rem;
    font-weight: 900;
    color: #03C0C1;
    text-align: center;
}



table {
    width: 100%;
}

td {
    padding: 5px 0;
}

td:nth-child(1) {
    font-weight: 600;
    color: #333333;
    padding-right: 5px;
    text-align: right;
    width: 50%;
}

td:nth-child(2) {
    width: 50%;
    text-align: left;
    padding-left: 5px;
    color: #555555;
}


/* Expanded state for table columns */
.card.expanded table {
    width: 100%;
    /*border: 1px solid black;*/
    border-collapse: collapse;
}

.card.expanded table td {
    padding: 10px 0;
    border-bottom: 1px solid black;
}

.card.expanded table td:first-child {
    width: 15%; /* When expanded, first column should be 15% */
    text-align: left;
    padding-left: 5%;
}

.card.expanded table td:last-child {
    width: 85%; /* Remaining width for the second column */
    padding-left: 3%;

}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

button {
    background-color: #03C0C1;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    font-family: "Inter", sans-serif;
    font-weight: 900;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #007F80;
}


.extra-details {
    margin-top: 20px;
    font-size: 1rem;
    color: #333;
}



/* Style for dropdown */
.dropdown {
    position: absolute;
    top: 20px;
    right: 10px;
    z-index: 1000;
}

.patient-filter {
    padding: 5px;
    font-size: 14px;
    cursor: pointer;
}