@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    margin-left: 50px;
    margin-right: 50px;
}

.nav-bar{
    padding: 0.2em;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #6482AD;
}

.nav-bar-left{
    margin-right: auto;
}


.company-name{
    display: flex;
    font-family: "Manrope", sans-serif;
    gap: 5px;
    cursor: pointer;
}

.company-name svg{
    margin-left: 2em;
    height: auto;
    width: 24px;
}

.nav-bar-right{
    font-family: "Inter", sans-serif;
    color: #171d25;
    font-size: large;
    margin-right: 2em;
    display: flex;
    align-items: center;
    gap: 3em;
}

.home{
    color: #6482AD;
}

.nav-bar-right a{
    text-decoration: none;
    color: #000000;
    transition: 0.2s;
}

.nav-bar-right a:hover{
    margin-top: 5px;
    color: #6482AD;
    text-decoration: underline;
}