
/* Navbar Container */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
    box-shadow: 2px 1px 5px #03C0C1;
    position: sticky;
    max-width: 100%;
    min-width:90%;
    height: 50px;
    
    top: 0;
    z-index: 1000;
}

/* Logo and Clinic Name on the Left */
.navbar-left {
    display: flex;
    align-items: center;
}

.logo {
    border-radius: 50%;
    height: 50px;
    margin-right: 15px;
}

.clinic-name {
    font-size: 1.4rem;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color: white;
}


.navbar-menu {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.login-icon {
  position: fixed;
  right: 20px;
    font-size: 27px;
    color: #fff;
    cursor: pointer;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  .login-icon:hover {
    color:#03C0C1;
   
  }
  
  .login-options {
   /*  margin-top: 25px; */
    display:flex;
    flex-direction:column;
    background-color: #333;
    border: 1px solid #03C0C1;
    position: absolute;
  top: 60px;  
    right: 2px;
    z-index: 10;
     padding: 10px; 
    border-radius: 5px;
  }
  
  .login-options a {
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 17px;
    color: #fff;
    padding: 10px;
    text-decoration: none;
    display: block;
    transition: 0.3s;
  }
  
  .login-options a:hover {
    background-color: #575757;
    color:#03C0C1
  }