:root {
    --primary: rgba(120, 72, 244, 1);
    --secondary: rgba(255, 92, 129, 1);
    --black: rgba(19, 19, 21, 1);
    --grey: rgba(104, 124, 148, 1);
    --light-blue: rgba(39, 165, 238, 1);
    --background-grey: rgba(248, 248, 250, 1);
    --white: rgba(255, 255, 255, 1);
    --navy-blue: rgba(16, 16, 123, 1);
    --gray-600: rgba(126, 126, 126, 1);
    --neutral-colorswhite: rgba(255, 255, 255, 1);
    --neutral-colors500: rgba(224, 224, 233, 1);
    --neutral-colorsblack: rgba(29, 28, 43, 1);
    --big-heading-font-family: "Inter", Helvetica;
    --big-heading-font-weight: 700;
    --big-heading-font-size: 36px;
    --big-heading-letter-spacing: 0px;
    --big-heading-line-height: normal;
    --big-heading-font-style: normal;
    --heading-font-family: "Inter", Helvetica;
    --heading-font-weight: 700;
    --heading-font-size: 24px;
    --heading-letter-spacing: 0px;
    --heading-line-height: normal;
    --heading-font-style: normal;
    --sub-heading-font-family: "Inter", Helvetica;
    --sub-heading-font-weight: 700;
    --sub-heading-font-size: 18px;
    --sub-heading-letter-spacing: 0px;
    --sub-heading-line-height: normal;
    --sub-heading-font-style: normal;
    --body-text-font-family: "Inter", Helvetica;
    --body-text-font-weight: 400;
    --body-text-font-size: 16px;
    --body-text-letter-spacing: 0px;
    --body-text-line-height: normal;
    --body-text-font-style: normal;
    --paragraph-font-family: "Inter", Helvetica;
    --paragraph-font-weight: 700;
    --paragraph-font-size: 12px;
    --paragraph-letter-spacing: 0px;
    --paragraph-line-height: normal;
    --paragraph-font-style: normal;
    --sub-paragraph-font-family: "Inter", Helvetica;
    --sub-paragraph-font-weight: 400;
    --sub-paragraph-font-size: 12px;
    --sub-paragraph-letter-spacing: 0px;
    --sub-paragraph-line-height: normal;
    --sub-paragraph-font-style: normal;
    --labels-font-family: "Inter", Helvetica;
    --labels-font-weight: 400;
    --labels-font-size: 10px;
    --labels-letter-spacing: 0px;
    --labels-line-height: normal;
    --labels-font-style: normal;
    --button-text-medium-font-family: "Inter", Helvetica;
    --button-text-medium-font-weight: 500;
    --button-text-medium-font-size: 20px;
    --button-text-medium-letter-spacing: 0px;
    --button-text-medium-line-height: 20px;
    --button-text-medium-font-style: normal;
    --general-shadows-shadow-light-mode: 0px 18px 30px 0px rgba(131, 119, 198, 0.11);
}
