.signin {
    position: relative;
    width: 1440px;
    height: 900px;
    background-color: var(--background-grey);
    border-radius: 20px;
    overflow: hidden;
}

.signin .overlap-group {
    position: absolute;
    width: 600px;
    height: 900px;
    top: 0;
    left: 840px;
    background-image: url(https://c.animaapp.com/JLJ6VNDX/img/unsplash-evgsabl51rk.png);
    background-size: cover;
    background-position: 50% 50%;
}

.signin .rectangle {
    position: absolute;
    width: 600px;
    height: 900px;
    top: 0;
    left: 0;
    background-color: #1313154c;
}

.signin .group {
    position: absolute;
    width: 456px;
    height: 197px;
    top: 350px;
    left: 74px;
}

.signin .text-wrapper {
    position: absolute;
    width: 236px;
    height: 48px;
    top: 0;
    left: 108px;
    font-family: "Inter", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 40px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.signin .div {
    position: absolute;
    height: 19px;
    top: 89px;
    left: 0;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: var(--white);
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.signin .button {
    all: unset;
    box-sizing: border-box;
    display: inline-flex;
    height: 49px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 15px 40px;
    position: absolute;
    top: 148px;
    left: 160px;
    background-color: #ffffff66;
    border-radius: 5px;
}

.signin .text-wrapper-2 {
    margin-top: -1px;
    position: relative;
    width: fit-content;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: var(--white);
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.signin .group-2 {
    position: absolute;
    width: 584px;
    height: 708px;
    top: 96px;
    left: 131px;
}

.signin .event-hive {
    position: absolute;
    height: 29px;
    top: 0;
    left: 227px;
    font-family: var(--heading-font-family);
    font-weight: var(--heading-font-weight);
    color: transparent;
    font-size: var(--heading-font-size);
    text-align: center;
    letter-spacing: var(--heading-letter-spacing);
    line-height: var(--heading-line-height);
    font-style: var(--heading-font-style);
}

.signin .span {
    color: #000000;
    font-family: var(--heading-font-family);
    font-style: var(--heading-font-style);
    font-weight: var(--heading-font-weight);
    letter-spacing: var(--heading-letter-spacing);
    line-height: var(--heading-line-height);
    font-size: var(--heading-font-size);
}

.signin .text-wrapper-3 {
    color: #7848f4;
    font-family: var(--heading-font-family);
    font-style: var(--heading-font-style);
    font-weight: var(--heading-font-weight);
    letter-spacing: var(--heading-letter-spacing);
    line-height: var(--heading-line-height);
    font-size: var(--heading-font-size);
}

.signin .p {
    position: absolute;
    height: 44px;
    top: 109px;
    left: 109px;
    font-family: var(--big-heading-font-family);
    font-weight: var(--big-heading-font-weight);
    color: #000000;
    font-size: var(--big-heading-font-size);
    text-align: center;
    letter-spacing: var(--big-heading-letter-spacing);
    line-height: var(--big-heading-line-height);
    font-style: var(--big-heading-font-style);
}

.signin .frame {
    display: flex;
    flex-direction: column;
    width: 578px;
    height: 200px;
    align-items: center;
    justify-content: center;
    gap: 40px;
    position: absolute;
    top: 253px;
    left: 0;
}

.signin .frame-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 15px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.signin .text-wrapper-4 {
    position: relative;
    align-self: stretch;
    margin-top: -1px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
}

.signin .input {
    display: flex;
    height: 46px;
    align-items: center;
    gap: 10px;
    padding: 10px;
    position: relative;
    align-self: stretch;
    width: 100%;
    background-color: var(--white);
    border-radius: 5px;
}

.signin .text-wrapper-5 {
    position: relative;
    width: fit-content;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: var(--grey);
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
}

.signin .frame-3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.signin .text-wrapper-6 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.signin .text-wrapper-7 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: var(--gray-600);
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.signin .signup-wrapper {
    all: unset;
    box-sizing: border-box;
    display: flex;
    width: 257px;
    height: 40px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 15px 40px;
    position: absolute;
    top: 503px;
    left: 161px;
    background-color: var(--primary);
    border-radius: 5px;
}

.signin .signup {
    margin-top: -5.5px;
    margin-bottom: -3.5px;
    position: relative;
    width: fit-content;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: var(--white);
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.signin .text-wrapper-8 {
    position: absolute;
    height: 19px;
    top: 593px;
    left: 280px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: var(--gray-600);
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.signin .google-button {
    display: flex;
    flex-direction: column;
    width: 371px;
    height: 46px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 19px 52px;
    position: absolute;
    top: 662px;
    left: 104px;
    background-color: var(--neutral-colorswhite);
    border-radius: 5px;
    border: 1px solid;
    border-color: var(--neutral-colors500);
}

.signin .button-content {
    position: relative;
    width: 193px;
    height: 23px;
    margin-top: -7.5px;
    margin-bottom: -7.5px;
}

.signin .logo {
    position: absolute;
    width: 23px;
    height: 23px;
    top: 0;
    left: 0;
}

.signin .button-text {
    position: absolute;
    height: 19px;
    top: 2px;
    left: 39px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: var(--black);
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}
