:root {
    --primary: rgba(120, 72, 244, 1);
    --secondary: rgba(255, 92, 129, 1);
    --black: rgba(19, 19, 21, 1);
    --grey: rgba(104, 124, 148, 1);
    --light-blue: rgba(39, 165, 238, 1);
    --background-grey: rgba(248, 248, 250, 1);
    --white: rgba(255, 255, 255, 1);
    --navy-blue: rgba(16, 16, 123, 1);
    --gray-600: rgba(126, 126, 126, 1);
    --white-1: rgba(255, 255, 255, 1);
    --gray-100: rgba(236, 236, 236, 1);
    --big-heading-font-family: "Inter", Helvetica;
    --big-heading-font-weight: 700;
    --big-heading-font-size: 36px;
    --big-heading-letter-spacing: 0px;
    --big-heading-line-height: normal;
    --big-heading-font-style: normal;
    --heading-font-family: "Inter", Helvetica;
    --heading-font-weight: 700;
    --heading-font-size: 24px;
    --heading-letter-spacing: 0px;
    --heading-line-height: normal;
    --heading-font-style: normal;
    --sub-heading-font-family: "Inter", Helvetica;
    --sub-heading-font-weight: 700;
    --sub-heading-font-size: 18px;
    --sub-heading-letter-spacing: 0px;
    --sub-heading-line-height: normal;
    --sub-heading-font-style: normal;
    --body-text-font-family: "Inter", Helvetica;
    --body-text-font-weight: 400;
    --body-text-font-size: 16px;
    --body-text-letter-spacing: 0px;
    --body-text-line-height: normal;
    --body-text-font-style: normal;
    --paragraph-font-family: "Inter", Helvetica;
    --paragraph-font-weight: 700;
    --paragraph-font-size: 12px;
    --paragraph-letter-spacing: 0px;
    --paragraph-line-height: normal;
    --paragraph-font-style: normal;
    --sub-paragraph-font-family: "Inter", Helvetica;
    --sub-paragraph-font-weight: 400;
    --sub-paragraph-font-size: 12px;
    --sub-paragraph-letter-spacing: 0px;
    --sub-paragraph-line-height: normal;
    --sub-paragraph-font-style: normal;
    --labels-font-family: "Inter", Helvetica;
    --labels-font-weight: 400;
    --labels-font-size: 10px;
    --labels-letter-spacing: 0px;
    --labels-line-height: normal;
    --labels-font-style: normal;
    --headline-h6-font-family: "Roboto", Helvetica;
    --headline-h6-font-weight: 500;
    --headline-h6-font-size: 16px;
    --headline-h6-letter-spacing: 0px;
    --headline-h6-line-height: normal;
    --headline-h6-font-style: normal;
    --button-btn-font-family: "Roboto", Helvetica;
    --button-btn-font-weight: 500;
    --button-btn-font-size: 14px;
    --button-btn-letter-spacing: 1.0800000429153442px;
    --button-btn-line-height: normal;
    --button-btn-font-style: normal;
}
