@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



.nav-bar{
    font-family: "Inter", sans-serif;
    display: flex;
    justify-content: space-around;
    border-bottom: 2px solid #03C0C1;
}

.right-nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 5em;
}

.main-content{
    margin-top: 5%;
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    font-family: "Inter", sans-serif;
}

.left{
    width: 40%;
}

.right{
    display: flex;
}

button{
    font-family: "Inter", sans-serif;
    padding: 5px;
    width: auto;
    cursor: pointer;

    margin-bottom: 20px;
    background-color: white;
    outline: none;

}

.middle-element{
    margin: auto;
}



input{
    font-family: "Inter", sans-serif;
    width: 60%;
    margin-top: 10px;
    margin-bottom: 30px;
    border: none;
    border-bottom: 2px solid #03C0C1;
    outline: none;
    font-size: 18px;
    padding: 5px;
}



